<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Mind & Beyond</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->   
</head>
<style>
    section{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        font-family: 'Poppins', sans-serif;
        font-size:24px;
        font-weight: bold;
    }
    p {
        font-family: 'Poppins', sans-serif;
        font-size:16px;
        font-weight: 500;
        color: #333;
    }
    ul li{
        font-family: 'Poppins', sans-serif;
        font-size:16px;
        font-weight: 500;
        color: #333;
    }
    label {
        font-family: 'Poppins', sans-serif;
        font-size:16px;
        font-weight: 500;
        color: #333;
        width: 25%;
    }
    .input {
        width: 50%;
        margin-left: 2%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;

    }
    button{
        background-color:#697664;
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
        margin-left: 2%;
        margin-bottom: 2%;
        color: white;
        font-family: 'Poppins',sans-serif;
        font-size:16px;
        font-weight: 500;

    }
   
</style>

<body id="page-top">
   
    <!-- Confidentiallity section-->
    <section id="confidential">
        <div class="container px-4 mt-5">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>CONFIDENTIALITY </h2>
                    <p class="lead">The policies, methods, and particular concerns for Teletherapy are laid out in this
                        consent form. Teletherapy is a therapy conducted over the phone or through a video conference.
                    </p>
                    <p class="lead">In accordance with legal and ethical norms, information about your treatment will be
                        kept confidential and will not be shared without your expressed consent, with the exception of
                        the following situations, in accordance with legal and ethical norms: </p>
                    <ul>
                        <li>When a person is deemed to be a risk to themselves or others. </li>
                        <li>When there is a reasonable suspicion of child, elder, or dependent adult abuse or neglect.
                        </li>
                        <li>When there is a medical emergency that renders a person unable. </li>
                        <li>When a court order is received.</li>
                    </ul>
                    <p class="lead">In such a case, I will do all in my power to let you know what reports need to be
                        filed with the appropriate authorities to ensure your safety and the safety of others. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- length section-->
    <section id="length">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>LENGTH AND FREQUENCY OF TREATMENT </h2>
                    <p class="lead">Sessions in psychotherapy last 50 minutes and are scheduled on a regular basis. Time
                        and frequency is different for different clients. Couples and family therapy are dependent on
                        the nature of your worries and requirements, scheduled weekly for 75-minute sessions, whereas
                        individual therapy is often planned weekly for 50 minute sessions. </p>
                    <p class="lead">Depending on the nature of your requirements and concerns, duration and frequency
                        can vary. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- FEE AND CANCELATION  section-->
    <section id="fee">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>FEE AND CANCELATION </h2>
                    <p class="lead">My fee varies for individual, family and couple’s therapy and it also includes GST
                        as Mind & Beyond is registered with the government. The fee details will be mentioned in the
                        email sent to you once the intake form is submitted. </p>
                    <p class="lead">Your session time is set out just for you, so you are in charge of it. There must be
                        a minimum of 48 hours' notice for cancellations. A standard cost will be charged if a session is
                        cancelled with less than 48 hours' notice before the scheduled start time. In rare
                        circumstances, you may not be held liable for the missed appointment if a consensual decision is
                        made to reschedule an appointment that was cancelled with less than 48 hours' notice. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- WHAT TO EXPECT   section-->
    <section id="expect">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>WHAT TO EXPECT </h2>
                    <p class="lead">Psychotherapy has both benefits and drawbacks. Risks can include having unpleasant
                        feelings, which frequently requires talking about the negative issues of your life.
                        Psychotherapy, however, has been proved to provide advantages for those who use it. However,
                        there are no assurances as to what will occur. You must take a lot of effort throughout
                        psychotherapy. You will need to put the things we cover during sessions into practise in order
                        for the therapy to be most effective. </p>
                </div>
            </div>
        </div>
    </section>

    <!--POLICIES SPECIFIC TO TELETHERAPY  section-->
    <section id="fee">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>POLICIES SPECIFIC TO TELETHERAPY </h2>
                    <p class="lead">Due to the fact that there is now no media capable of guaranteeing 100% secure
                        transmission, online appointments cannot be guaranteed to be secure and private. </p>
                    <p class="lead">I, as your therapist, agree to work with you in a private setting through the
                        internet. Any security or confidentiality breaches brought on by my surroundings, the internet,
                        or other technological interference are not my responsibility. </p>
                    <p class="lead">You, the client, are aware that compared to in-person sessions, online and telephone
                        therapy may have some drawbacks, including the absence of "personal" face-to-face interactions
                        and visual and aural clues. You are aware that medicine taken under a doctor's or psychiatrist's
                        supervision cannot be replaced by phone or internet psychotherapy. You are aware that getting
                        treatment via the phone or the internet might not be a good idea if you are in a crisis or
                        thinking of harming yourself or someone else. You consent to calling the suicide prevention
                        hotline at 1800-599-0019 in the event of a life-threatening emergency or visiting an emergency
                        department at a hospital. </p>
                    <p class="lead">On weekdays, messages are checked during work hours. Weekend and holiday check-ins
                        on messages are not guaranteed. Email should not be used for personal or process writing;
                        rather, it should only be used to schedule meetings or request logistical information. Any
                        invitations sent to me via social networking sites will not be accepted. </p>
                    <p class="lead">We advise you to always use secure electronic communication channels, like those
                        that can guarantee secrecy. Make sure you finish all correspondence and online counselling
                        sessions. Please make an effort to reconnect within 10 minutes if a technical issue prevents you
                        and your therapist from speaking during a session. Send an email to your therapist to set up a
                        new appointment if reconnection is not possible. </p>
                </div>
            </div>
        </div>
    </section>

     <!-- CONSENT FOR TREATMENT  section-->
     <section id="consent">
        <div class="container px-4">
            <div class="row">
                <div class="col-lg-8">
                    <h2>CONSENT FOR TREATMENT </h2>
                    <p class="lead">By signing below, I show that I agree to abide by the above policies and give consent to treatment.  </p>
                </div>
                <div class="col-lg-8">
                    <p>Name: <%= users.name %> </p>
                    <p>Date: </p>
                    <p>Mobile Number: </p>
                    <!--<form name="Tpolicy" name="Tpolicy" id="Tpolicy" method="POST">
                      
                        <div class="col-lg-4">
                         <label class="input" for="first-name">Name: </label>
                         </div>
                         <div class="col-lg-4">
                         <input class="input" type="text" name="fname" id="fname" autocomplete="off">
                      
                    </div>
                        <div class="col-lg-4">
                         <label for="Date" class="input">Date: </label>
                         </div>
                         <div class="col-lg-4">
                         <input class="input col-lg-4" type="text" name="date" id="date" autocomplete="off">
                        </div>
                        <div class="col-lg-4">
                         <label for="Phone Number" class="input">Contact Number: </label>
                         </div>
                         <div class="col-lg-4">
                         <input class="input" type="tel" name="phno" id="phno" autocomplete="off">
                        </div>
           
                        <button class="col-lg-2 mt-5" type="submit"> Submit</button>
                        
                       </form>-->
                </div>
            </div>
        </div>
    </section>


   
</body>

</html>